<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Supplier</title>
</head>
<body>
<form th:method="POST" th:action="@{/suppliers}" th:object="${supplier}">
    <label for="organisation">Enter organisation:</label>
    <input type="text" th:field="*{organisation}" id="organisation">
    <div style="color:red" th:if="${#fields.hasErrors('organisation')}" th:errors="*{organisation}">Organisation error</div>
    <br>
    <br>
    <label for="address">Enter address:</label>
    <input type="text" th:field="*{address}" id="address">
    <div style="color:red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address error</div>
    <br>
    <br>
    <input type="submit" value="Create">
</form>
</body>
</html>